@media screen and (max-width: 576px) {
    .heroText h1 {
        font-size: 48px
    }
    .paddingDesktop{
        padding: 10px 20px;
    }
}

@media screen and (min-width: 577px) {
    .heroImg img {
        height: 500px;
        object-fit: cover;
    }
    .paddingDesktop{
        padding: 10px 20px;
    }
}
@media screen and (min-width: 768px) {

    .heroImg img {
        height: 550px;
        object-fit: cover;
    }
    .paddingDesktop{
        padding: 10px 40px;
    }
}

@media screen and (min-width: 992px) {
    #hero {
        display: flex;
        justify-content: space-between;
        height: 410px;
    }

    .heroText{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    .heroText h1, .heroText p{
        max-width: 90%; 
    }

    .heroText p {
        margin: 20px 0px;
    }

    .heroImg{
        height: 400px;
        width: 100%;
    }

    .heroImg img {
        height: 100%;
        object-fit: cover;
    }

    .buttonHero{
        position: absolute;
        width: 90%;
        bottom: 0;
    }

    .gridCSS{
        grid-template-columns: repeat(2, 1fr);
    }
    .span2{
        grid-column: span 2;
    }
    .paddingDesktop{
        padding: 0px 40px;
    }
}

@media screen and (min-width: 1200px) {
     #hero {
        display: flex;
        justify-content: space-between;
        height: 700px;
    }

    .heroText{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }
    .heroText h1 {
        font-size: 72px;
    }

    .heroImg {
        height: 100%;
        width: 80%;
    }

    .heroImg img {
        height: 100%;
        object-fit: cover;
    }
    .buttonHero{
        bottom: -9px;
    }
    .gridCSS{
        grid-template-columns: repeat(3, 1fr);
    }
    .span2{
        grid-column: span 1;
    }
    
    .paddingDesktop{
        padding: 30px 120px !important;
    }

}

@media screen and (min-width: 1400px) {
    .paddingDesktop{
        padding: 30px 160px !important;
    }
    .expText{
        font-size: 20px;
    }
}