:root{
    --primary-green: #c6e413;
    --primary-blue: #234BAA;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

p, span, div{   
    font-family: "Open Sans", sans-serif;
}

.offcanvas-bottom {
    --bs-offcanvas-height: 70vh !important;
}

.greenText{
    color: var(--primary-green);
}

.form-check-input:checked{
    background-color: var(--primary-green);
    border-color: var(--primary-green);
    color: var(--primary-green);
}

.buttonHero, .buttonContact{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: var(--primary-green);
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonHero:hover, .buttonContact:hover{
    background-color: #a5bd1e;
    color: #fff;
}

.buttonContact{
    width: 100%;
    box-shadow: none;
    border: 0px;
}

.buttonCard{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
    text-decoration: none;
    border-radius: 10px;
    margin: 10px 0px;
    margin-top: auto;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.buttonCard:hover{
    background-color: rgb(0, 0, 0, 0.1);
}

.bg-prim-blue{
    background-color: var(--primary-blue);
}

.heroImg img{
    border-radius: 10px;
    width: 100%;
}

.gridCSS{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.projectsCard{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.badgeCard{
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: var(--primary-green);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.imgCard{
    width: 100%;
    border-radius: 10px;
    border-bottom: 5px solid var(--primary-green);
}

.projectsInfo{
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cardTitle{
    font-size: 24px;
    margin-bottom: 10px;
    opacity: .75;
}

.cardParagraph{
    opacity: .5;
}

.PDFlink{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 10px 0px;
}
.PDFlink a{
    text-decoration: underline;
    color: #000;
    font-weight: 700;
}

.containerProjects{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.formContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.containerContact{
    border: 10px solid var(--primary-green);
    background-color: #fff;
    border-radius: 10px;
    width: 450px;
}

.contactText{
    max-width: 50%;
}

.contactForm{
    padding: 10px;
}

.submitBTN{
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 700;
    background-color: var(--primary-green);
    margin-right: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submitBTN:hover{
    background-color: #a5bd1e;
    color: #fff;
}

.clearBTN{
    border: 0;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 700;
    color: var(--primary-green);
    border: 1px solid var(--primary-green);
    background-color: #fff;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.clearBTN:hover{
    background-color: rgb(0, 0, 0, 0.05);
}

.bentoGrid{
    display: grid;
    grid-template-columns: 0.8fr 0.7fr 0.5fr;
    gap: 15px;
    margin-bottom: 15px;
}

.bento-item{
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 30px;
    height: auto;
}
.bentoGrid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.bento-item2{
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 20px;
    height: auto;
}

.containerEDU{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;
}

.edu{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.eduInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.eduHead{
    font-size: 24px;
    opacity: .75;
}

.eduPar{
    opacity: .5;
}

.imgEdu{
    padding: 4px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #fff;
    object-fit: cover;
}

.aboutHead{
    opacity: .75;
}

.aboutPar{
    opacity: .5;
}

.containerExp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.yearEXP{
    opacity: .75;
    font-size: 136px;
}

.expText{
    opacity: .5;
    font-size: 16px;
}

.progress-bar{
    background-color: var(--primary-blue);
}

.labelSkill{
    opacity: .5;
}

.languagesContainer{
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.langHead{
    opacity: .75;
}

.languagesIcons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imgLang{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #fff;
    object-fit: cover;
}

.paddingDesktop{
    padding: 10px 20px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #234BAA;
    padding-top: 20px;
}

.footerContainer{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0px 0px;
    padding: 20px 0px;
}

.footerHead{
    text-align: center;
    padding: 40px 20px;
    font-style: italic;
}

.footerNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 0px;
}

.footerNav li{
    list-style-type: none;
    padding: 10px 0px;
    width: 70%;
    text-align: center;
}

.footerNavLink{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.socialLinksCont{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 40px 0px;
}

.socialLink{
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: var(--primary-green);
    border-radius: 100%;
    height: 50;
    width: 50;
    transition: transform 0.3s ease;
}

.socialLink:hover{
    transform: scale(1.1);
}

.spanFont{
    font-size: 32px;
}